<table class="table table-hover" *ngIf="countries.length">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Poblacion</th>
    </tr>
  </thead>
  <tbody>
    <tr class="animate__animated animate__fadeIn animate__faster" *ngFor="let country of countries; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <img [src]="country.flags.svg" alt="" class="small-flag">
      </td>
      <td>{{ country.capital }} - {{ country.name.common }}</td>
      <td>{{ country.population | number}}</td>
      <td>
        <a [routerLink]="['/country', country.cca2]">Ver ...</a>
      </td>
    </tr>
  </tbody>
</table>
